{% load static %}
<div class="row justify-content-between">
    <div class="col-sm-8">
    <div id="accordion">


    </div>
    </div>


    <div class="col-sm-6  col-md-4 justify-content-end  " style="width: 20rem;">


        <div class="card"  >
        <ul class="list-group list-group-flush ">

        {% for test in type.container.all %}
         <div class="list-group-item text-center"> <h5 class="card-title">{{ test.title}}</h5></div>
        <li class="list-group-item ">
        {{ test.text}}</li>{% endfor %}

        </ul>
        </div>


    </div>

</div>
