{% extends "standart/user/form.html" %}

{% block content %}
<div class="row justify-content-center">
<ul class="nav nav-pills  ">
    {% for formbar in formbar %}
  <li class="nav-item ">
    <a class="btn btn-info" href="{{ formbar.get_absolute_url }}" role="button" >{{formbar.name}}</a>
  </li>
    {% endfor %}
</ul>
</div>





        {% if done %}
    <h2 class="title text-center">{{done}}</h2>
        {% endif %}
    <div class="container">
        {% for type in text %}
        {% include type.template_name.title %}
        {% endfor %}
    </div>
{% endblock %}


{% block login %}

    <div class="section section-contacts">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <form class="contact-form" method="post">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">{{ call.name.label }}</label>
                    {{ call.name }}

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">{{call.phone.label}}</label>
                    {{ call.phone }}
                  </div>

                </div>
                   <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">{{form.city.label}}</label>
                    {{ form.city }}
                  </div>

                </div>
                  <div class="col-md-6">
                                                <div class="form-group">
                <label class="bmd-label-floating">{{form.email.label}}</label>
                                  {{form.email}}

              </div>
                      </div>

              </div>
                              <div class="form-group">
                <label class="bmd-label-floating">{{form.metka.label}}</label>
                 {{ form.metka }}
              </div>
              <div class="form-group">
                <label class="bmd-label-floating">{{form.message.label}}</label>
                 {{ form.message }}
              </div>




                {% csrf_token %}
              <div class="row">
                <div class="col-md-4 ml-auto mr-auto text-center">
                 <button type="submit" class="btn btn-info btn-link btn-wd btn-lg">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>

{% endblock %}