{% extends "standart/user/base.html" %}
{% load i18n %}

{% block login %}
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 mx-auto">
<div class="card card-login">

<div class="card-header card-header-info text-center">
<h1>{% trans "Reset your password." %}</h1>
<p>{% trans "Enter your e-mail address to obtain a new password." %}</p>
</div>
        <form action="." method="post" enctype="multipart/form-data">
        <div class="card-body">
        <div class="form-group">
        <label class="bmd-label-floating">{{ form.email.label }}</label>
        {{ form.email }}
        </div>


        {% csrf_token %}
            <div class="footer text-center">
            <button type="submit" class="btn btn-info btn-link btn-wd btn-lg">{% trans "Send e-mail" %}</button>
            </div>

        </div>
        </form>
</div>
</div>
</div>
</div>
{% endblock %}