{% extends "standart/user/base.html" %}
{% load i18n %}
{% block title %}Reset your password{% endblock %}

{% block login %}

      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 mx-auto">
            <div class="card card-login">

                    <div class="card-header card-header-info text-center">
    <h1>{% trans "Reset your password" %}</h1>
    <p>{% trans "Please enter your new password twice:" %}</p>
                    </div>
                {% if validlink %}
    <form action="." method="post">

                    <div class="card-body">

                    <div class="footer text-center">
                    <label class="bmd-label-floating">{{ form.new_password1.label }}</label>
                    <div class="form-group">{{ form.new_password1 }}</div>
                    {{ form.new_password1.help_text }}
                    </div>



                    <div class="footer text-center">
                    <label class="bmd-label-floating">{{ form.new_password2.label }}</label>
                    <div class="form-group">{{ form.new_password2 }}</div>
                    </div>

                    {% csrf_token %}

                    <div class="footer text-center">
                    <button type="submit" class="btn btn-info btn-link btn-wd btn-lg">{% trans "Change my password" %}</button>
                    </div>

                </div>
                 </form>
                {% else %}
        <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
        {% endif %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}